<title>Article ideas generator</title>

<!-- Download the two files locally in the static folder for deployment in Toolforge -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans">

<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<div>
  <h1>Article ideas generator</h1>
  {% if 'links' in pagetype %}
    <p>Some ideas for topics to write articles on:</p>
    {% for link in results %}
      <a href="//en.wikipedia.org/w/index.php?title={{ link }}&action=edit&redlink=1">{{ link }}
    </a>
    <br>
  {% endfor %}

  <!-- Change action url from / to /toolname/ for deployment in Toolforge -->
  <a href="/"><button>Take me to the homepage</button></a>
  {% else %}
  {% if results %}
  <p>Choose a {{ pagetype }}</p>

  <!-- Change action url from / to /toolname/ for deployment in Toolforge -->
  <form action="/" method="POST">
    {% for pagename in results %}
    <button name="{{ pagetype }}" class="{{ pagetype }}" value="{{ pagename }}">{{ pagename }}</button>
  {% endfor %}
  {% else %}
  <p>Ooooops! We couldn't find any results.</p>
  </form>

  <!-- Change action url from / to /toolname/ for deployment in Toolforge -->
  <a href="/"><button>Start over</button></a>
  {% endif %}
  {% endif %}
</div>