<title>User contributions feed</title>

<link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<div class="container feed-container col-lg-4 shadow p-3 mb-5 bg-white rounded">
  <h1>User contributions feed</h1>

  <form action="{{ url_for('index') }}" method="get">
    <div class="form-group flex-container">
      <input class="form-control col-lg-8" placeholder="Enter a username" name="username" required type="text" {% if username is not none %} value="{{username}}" {% endif %}>
    </div>
    <div class="flex-container">
      <button class="btn-submit col-xs-5" type="submit">Submit</button>
    </div>
  </form>

  {% if data is not none and data != [] %}
  <ul class="list-group">
   {% for edits in data %}
    <li class="list-group-item">
    (<a href="{{wikiurl}}/w/index.php?title={{edits['title'] }}&diff={{ edits['revid'] }}&oldid={{ edits['parentid'] }}">Diff</a>)
    . . ( {{ edits['sizediff'] }} bytes ) . .
    <a href="{{wikiurl}}/wiki/{{edits['title'] }}">{{ edits["title"] }}</a>
    {% endfor %}
  </ul>
  {% elif data == [] %}
  <div class="flex-container">
    <h5>OOPS! User <strong>{{username}}</strong> not found</h5>
  </div>
  {% endif %}
</div>