body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.navbar {
  border-bottom: 1px solid #e7e7e7;
}

.navbar-dark .navbar-brand {
  color: #54595D;
  font-size: 18px;
}

.navbar-dark .navbar-brand:hover {
  color: #54595D;
}

.container {
  max-width: 960px;
}

.album {
  padding: 20px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
  margin: 20px;
}

.gradient-image {
  margin: 5px;
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 384px;
  background-color: #fef6e7;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.card-body {
  text-align: center;
}

.card-thumbnail {
  align-items: center; 
  background-clip: border-box;
  border-radius: 0rem;
  margin: 0px;
}

.card-buttons {
  margin-top: 0px;
}

.card-buttons .btn-card {
  width: 50%;
  float: right;
  border: 0px;
  border-radius: 0px;
}

.img-responsive {
  max-width: 100%;
}

.bg-light {
  background-color: #fc3 !important;
}

.bg-dark {
  background-color: #ac6600 !important;
}

.grayed-text {
  color: #54595D !important;
}

.grayed-text a {
  color: #ac6600;
}

.card-buttons 
.btn-card:hover {
  background-color: #ac6600 !important;
  color: white !important;
}

footer {
  border-top: 1px solid #e7e7e7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
