<!DOCTYPE html>
<title>Demo app</title>
<!-- Bootstrap latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Bootstrap optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
  <div class="row">
    <form method="POST" action="/">
      <div class="col-lg-12">
        <div class="col-lg-4">
          <h3>MediaWiki Action API Search Module Demo</h3>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-4" style="margin-top: 20px;">
        {{ wtf.form_field(form.category) }}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-4">
          <button class="btn btn-info btn-warning" type="submit">Suggest me some articles to write on!</button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-4" style="margin-top: 20px; font-size: 1.1em;">
        {% if re_articles %}
        {% for article in re_articles %}
        {% if article['isThereAWikiPage'] == "Yes" %}
        <a href="//en.wikipedia.org/w/index.php?title={{ article['title'] }}{{ article['title'] }}" style="text-decoration: underline">{{ article['title'] }}</a> <br>
        {% endif %}
        {% if article['isThereAWikiPage'] == "No" %}
        <a href="//en.wikipedia.org/w/index.php?title={{ article['title'] }}&action=edit&redlink=1" style="color: #d33; text-decoration: underline;">{{ article['title'] }}</a> <br>
        {% endif %}
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>