<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Picture of the Day</title>
    <link rel = "stylesheet" href = "/static/style.css">
    <script src = "/static/script.js"></script>
</head>

<body>
    <main>
        <div class = "card">
            <h1>Picture of the day:</h1>
            <div class = "potd"></div>
            <div class = "date-container">
                <time class = "current-date"></time>
                <div class = "date-navigator">
                    <form action="/change_date" method="POST">
                        <input type = "submit" name = "change_date" value = "&larr; Back" />
                        <input type = "submit" name = "change_date" value = "Next &rarr;" />
                    </form>
                 </div>
            </div>
        </div>
    </main>
</body>
</html>
