<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Picture of the Day</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>

<body>
    <main>
        <div class = "card">
            <h1>Picture of the day:</h1>
            <div class = "potd">
                <h2>{{data.title}}</h2>
                <figure>
                    <a href = "{{data.image_page}}" target = "blank">
                        <img src = "{{data.image_src}}" />
                        <figcaption>
                        View on Wikimedia Commons
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class = "date-container">
                <time class = "current-date">{{data.date.strftime("%d %B %Y")}}</time>
                <div class = "date-navigator">
                    <form action = "/" method = "POST">
                        {% if data.date.strftime("%d %B %Y") == "14 May 2004" %}
                            <input type = "submit" name = "change_date" value = "&larr; Back" disabled />
                        {% else %}
                            <input type = "submit" name = "change_date" value = "&larr; Back" />
                        {% endif %}
                        {% if data.date == data.date.today() %}
                            <input type = "submit" name = "change_date" value = "Next &rarr;" disabled />
                        {% else %}
                            <input type = "submit" name = "change_date" value = "Next &rarr;" />
                        {% endif %}
                    </form>
                 </div>
            </div>
        </div>
    </main>
</body>
</html>
