html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
}

h1 {
    margin: 0;
    padding: 12px;
    background-color: #2a4b8d;
    color: white;
}

h2 {
    margin: 0;
    padding: 12px;
    background-color: #F3F9FF;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #2a4b8d;
}

a {
    color: #36c;
}

p {
    margin: 8px;
}

.card {
    position: relative;
    background-color: #fff;
    min-width: 200px;
    max-width: 67vw;
    height: 90vh;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.16);
}

.potd {
    width: inherit;
    height: 60vh;
}

figure {
    width: 100%;
    margin: auto;
    text-align: center;
}

img {
    display: block;
    margin: 12px auto;
    border: 1px solid #72777d;
    min-height: 100px; 
    max-width: 64vw;
    max-height: 50vh;
}

figure a {
    margin: 8px;
}

.date-container {
    display:block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right:0;
}

.current-date {
    color: #72777d;
    background: #fff;
    margin: 16px auto;
    font-size: 2em;
}

.date-navigator {
    background-color: #36c;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    margin: 16px auto;
    text-align: center;
}

.date-navigator input {
    background-color: inherit;
    color: inherit;
    font-size: 0.67em;
    font-weight: inherit;
    text-transform: none;
    margin: 8px;
    border: 1px solid white;
    min-height: 44px;
    width: 45%;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.date-navigator input:active {
    background-color: #2a4b8d;
    box-shadow: none;
}