body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2 {
    padding: 12px;
    background-color: #F3F9FF;
    border-top: 1px solid #2a4b8d;
    border-bottom: 1px solid #2a4b8d;
}

h1 {
    background-color: #2a4b8d;
    color: white;
}

h2, p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: #36c;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #2a4b8d;
    min-width: 200px;
    max-width: 775px;
    margin: auto;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.16);
}

img {
    display: block;
    margin: 12px auto;
    border: 1px solid #72777d;
    min-width: 100px;
    max-width: 90%;
}

p {
    margin: 12px;
}

.date {
    text-align: center;
    color: #72777d;
    font-size: 3em;
    font-weight: bold;
    margin: 16px auto;
}