<!DOCTYPE html>
  <title>MediaWiki Create Account</title>

  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/account_form.css">

<div class="container form-container">
  <h2>Create MediaWiki Account</h2>
  <form method="POST">
    <div class="form-group">
      {% for field in fields %}
      <div class="form-field">
        <div class="label-field">{{ field['label'] }}</div>
        <input type="{{ field['type'] }}" name="{{ field['name'] }}" value="{{ field['value'] }}">
      </div>
      {% endfor %}
      <img src="{{ captcha }}">
    </div>
    <button type="submit" class="btn btn-success">Create your account</button>
  </form>

  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    {{ message[1] }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<br>
</div>
</div>