<html><body><div class="mw-parser-output">
<div class="card mx-auto mb-1"><div class="card-body p-2"><b>test holiday</b></div></div>
<!-- 
NewPP limit report
Parsed by mw1316
Cached time: 20190729142258
Cache expiry: 2592000
Dynamic content: false
Complications: []
CPU time usage: 0.000 seconds
Real time usage: 0.002 seconds
Preprocessor visited node count: 2/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/500
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
Number of Wikibase entities loaded: 0/400
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 -total
-->
</div><div class="mw-parser-output">
<div class="row"><div class="card mx-auto mb-1"><div class="card-body p-2">Christian <a href="//en.wikipedia.org/wiki/Calendar_of_saints" title="Calendar of saints">feast day</a>:
</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2">Earliest day on which <a href="//en.wikipedia.org/wiki/Handsel_Monday" title="Handsel Monday">Handsel Monday</a> can fall, while <a href="//en.wikipedia.org/wiki/January_7" title="January 7">January 7</a> is the latest; celebrated on the first Monday of the year (<a href="//en.wikipedia.org/wiki/Scotland" title="Scotland">Scotland</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2">Second day of <a href="//en.wikipedia.org/wiki/Hogmanay" title="Hogmanay">Hogmanay</a> (<a href="//en.wikipedia.org/wiki/Scotland" title="Scotland">Scotland</a>) December 31-January 1, in some cases until January 2.</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2">The last day of <a href="//en.wikipedia.org/wiki/Kwanzaa" title="Kwanzaa">Kwanzaa</a> (<a class="mw-redirect" href="//en.wikipedia.org/wiki/African-Americans" title="African-Americans">African-Americans</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2">The eighth of the <a href="//en.wikipedia.org/wiki/Twelve_Days_of_Christmas" title="Twelve Days of Christmas">Twelve Days of Christmas</a> (<a href="//en.wikipedia.org/wiki/Western_Christianity" title="Western Christianity">Western Christianity</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a class="mw-redirect" href="//en.wikipedia.org/wiki/Constitution_Day_(Italy)" title="Constitution Day (Italy)">Constitution Day (Italy)</a></div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Dissolution_of_Czechoslovakia" title="Dissolution of Czechoslovakia">Dissolution of Czechoslovakia</a>-related observances:
</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Emancipation_Day" title="Emancipation Day">Emancipation Day</a> (<a href="//en.wikipedia.org/wiki/United_States" title="United States">United States</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/History_of_the_euro" title="History of the euro">Euro Day</a> (<a href="//en.wikipedia.org/wiki/European_Union" title="European Union">European Union</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a class="mw-redirect" href="//en.wikipedia.org/wiki/Flag_Day_(Lithuania)" title="Flag Day (Lithuania)">Flag Day (Lithuania)</a> commemorates raising of the Lithuanian flag on Gediminas' Tower in 1919</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a class="mw-redirect" href="//en.wikipedia.org/wiki/Founding_Day_(Taiwan)" title="Founding Day (Taiwan)">Founding Day (Taiwan)</a> commemorates the establishment of the Provisional Government in Nanjing</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Global_Family_Day" title="Global Family Day">Global Family Day</a></div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/List_of_national_independence_days" title="List of national independence days">Independence Day</a> (<a href="//en.wikipedia.org/wiki/Brunei" title="Brunei">Brunei</a>, <a href="//en.wikipedia.org/wiki/Cameroon" title="Cameroon">Cameroon</a>, <a href="//en.wikipedia.org/wiki/Haiti" title="Haiti">Haiti</a>, <a href="//en.wikipedia.org/wiki/Sudan" title="Sudan">Sudan</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/International_Nepali_Dhoti_and_Nepali_Topi_Day" title="International Nepali Dhoti and Nepali Topi Day">International Nepali Dhoti and Nepali Topi Day</a></div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Jump-up_Day" title="Jump-up Day">Jump-up Day</a> (<a href="//en.wikipedia.org/wiki/Montserrat" title="Montserrat">Montserrat</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Kalpataru_Day" title="Kalpataru Day">Kalpataru Day</a> (<a class="mw-redirect" href="//en.wikipedia.org/wiki/Ramakrishna_Movement" title="Ramakrishna Movement">Ramakrishna Movement</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/List_of_festivals_and_events_in_Kamakura#January" title="List of festivals and events in Kamakura">Kamakura Ebisu</a>, January 1–3 (<a class="mw-redirect" href="//en.wikipedia.org/wiki/Kamakura,_Kanagawa" title="Kamakura, Kanagawa">Kamakura, Kanagawa</a>, <a href="//en.wikipedia.org/wiki/Japan" title="Japan">Japan</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/List_of_food_days#January" title="List of food days">National Bloody Mary Day</a> (<a href="//en.wikipedia.org/wiki/United_States" title="United States">United States</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Arbor_Day" title="Arbor Day">National Tree Planting Day</a> (<a href="//en.wikipedia.org/wiki/Tanzania" title="Tanzania">Tanzania</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/New_Year%27s_Day" title="New Year's Day">New Year's Day</a> (<a href="//en.wikipedia.org/wiki/Gregorian_calendar" title="Gregorian calendar">Gregorian calendar</a>)
</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Polar_bear_plunge" title="Polar bear plunge">Polar Bear Swim Day</a> (<a href="//en.wikipedia.org/wiki/Canada" title="Canada">Canada</a> and <a href="//en.wikipedia.org/wiki/United_States" title="United States">United States</a>)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Public_Domain_Day" title="Public Domain Day">Public Domain Day</a> (multiple countries)</div></div>
<div class="card mx-auto mb-1"><div class="card-body p-2"><a href="//en.wikipedia.org/wiki/Triumph_of_the_Revolution" title="Triumph of the Revolution">Triumph of the Revolution</a> (<a href="//en.wikipedia.org/wiki/Cuba" title="Cuba">Cuba</a>)</div></div></div>
<!-- 
NewPP limit report
Parsed by mw1221
Cached time: 20190729142257
Cache expiry: 2592000
Dynamic content: false
Complications: []
CPU time usage: 0.016 seconds
Real time usage: 0.022 seconds
Preprocessor visited node count: 2/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/500
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
Number of Wikibase entities loaded: 0/400
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 -total
-->
</div></body></html>